doctype html
head
    title(data-i18n="main.title") wiernypies.pl
    //- meta
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="theme-color" content="#F05F40")
    meta(name='description', content='wiernypies.pl')
    meta(name='author', content='Hadron Design')

    //- favicon
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">

    //- inject:css
    link(rel="stylesheet", href="css/lib.min.css")
    link(rel="stylesheet", href="css/faithful.min.css")
    //- endinject
    //if lt IE 9
        <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'></script>
        <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>
body#page-top
    //- FB feed thingy
    div#fb-root
    //- NAVBAR ===========================
    nav#mainNav.navbar.navbar-default.navbar-fixed-top.scrollspyNav
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    i.fa.fa-bars
                a.page-scroll(href='#home')
                    img#myLogo.svg.navbar-brand.page-scroll(src='img/wiernypiesLogo.svg', data-i18n="[alt]main.title")
                a.navbar-brand.page-scroll(href='#home' data-i18n="main.title") wiernypies.pl
            #bs-example-navbar-collapse-1.collapse.navbar-collapse(data-i18n="main.languageName" data-i18n-target="ul > li > a.dropdown-toggle :not(.dropdown-menu > li > a)")
                ul.nav.navbar-nav.navbar-right
                    //- class="icon fa-home"
                    li
                        a.page-scroll.fa.fa-2x.fa-home(href='#home')
                    li
                        a.page-scroll(href='#news' data-i18n="main.news") Aktualności
                    li
                        a.page-scroll(href='#about' data-i18n="main.about") O nas
                    li
                        a.page-scroll(href='#services' data-i18n="main.services") Oferta
                    li
                        a.page-scroll(href='#therapy' data-i18n="main.therapy") Terapia
                    li
                        a.page-scroll(href='#petsitting' data-i18n="main.petsitting") Pet sitting
                    li
                        a.page-scroll(href='#contact' data-i18n="main.contact") Kontakt
                    li
                        a.dropdown-toggle(data-toggle="dropdown" href="#") &nbsp;
                            img.flag
                            .helper
                            ul.dropdown-menu.list-inline.navbar-default
                                li
                                    a(href="" language="pl").lang-select
                                        img(src="img/flags/flag_pl.svg" alt="Polski")
                                        div Polski
                                li
                                    a(href="" language="en").lang-select
                                        img(src="img/flags/flag_en.svg" alt="English")
                                        div English
                                //- li
                                //-     a(href="" language="ru").lang-select
                                //-         img(src="img/flags/flag_ru.svg" alt="Русский")
                                //-         div Русский
            //- /.navbar-collapse
        //- /.container-fluid
    //- HOME ===========================
    section#home(data-section-name='home', data-i18n="[data-section-translation]main.home")
        #headerCarousel.carousel.slide(data-ride='carousel' data-interval='4000')
            .carousel-inner(role='listbox')
                .item.active
                .item
                .item
                .item
        .header-content
            .header-content-inner
                h1(data-i18n="home.description") Ośrodek szkolenia zwierząt
                hr
                h2(data-i18n="main.title") wiernypies.pl
    //- NEWS ===========================
    section#news.fullscreen.bg-white(data-section-name='news', data-i18n="[data-section-translation]main.news")
        .container-fluid
            .row
                .col-sm-10.col-sm-offset-1.text-center
                    h2(data-i18n="main.news").section-heading.wow.slideInLeft Aktualności
                    hr
            .row
                .col-xs-11.col-sm-6.text-center
                    .fb-page(
                        data-href='https://www.facebook.com/wiernypiespl/',
                        data-tabs='timeline',
                        data-width='500',
                        data-height='1000',
                        data-small-header='true',
                        data-adapt-container-width='true',
                        data-hide-cover='false',
                        data-show-facepile='false'
                        style='margin-bottom: 15px;')
                        blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/wiernypiespl/')
                            a(href='https://www.facebook.com/wiernypiespl/') Ośrodek dla psów wiernypies.pl
                .col-xs-offset-1.col-sm-offset-0.col-sm-6
                    hr.visible-sm-block
                    h2.wow.slideInRight(data-i18n="[html]news.puppySchool.header") Ruszyły zapisy do psiego przedszkola!
                    img.img-responsive.center-block(src='img/leaflets.png', alt='')
                    p(data-i18n="[html]news.puppySchool.p1") Przedszkole składa się z 8 spotkań na ogrodzonym terenie. Maksymalnie do pięciu psów w grupie. Zajęcia prowadzi behawiorystka i instruktorka szkolenia psów, Ewa Jabłońska.
                    p(data-i18n="[html]news.puppySchool.p2") Stosujemy wyłącznie pozytywne metody szkolenia zwierząt!
                    p(data-i18n="[html]news.puppySchool.program") Program:
                        ul.text-left.promo
                            li(data-i18n="[html]news.puppySchool.tidiness") trening czystości
                            li(data-i18n="[html]news.puppySchool.leavingAtHome") zostawianie psa w domu
                            li(data-i18n="[html]news.puppySchool.properPlay") prawidłowa zabawa
                            li(data-i18n="[html]news.puppySchool.biting") zapobieganie gryzieniu rąk, mebli, przedmiotów
                            li(data-i18n="[html]news.puppySchool.petCare") przyzwyczajenie do zabiegów pielęgnacyjnych
                            li(data-i18n="[html]news.puppySchool.difficultSituations") rozwiązywanie trudnych sytuacji
                            li(data-i18n="[html]news.puppySchool.callingByName") przychodzenie na zawołanie
                            li(data-i18n="[html]news.puppySchool.otherDogs") kontakty z innymi psami
    //- ABOUT ===========================
    section#about.fullscreen.shade(data-section-name='about', data-i18n="[data-section-translation]main.about")
        .container-fluid
            .row
                .col-sm-12.col-lg-10.col-lg-offset-1.text-center
                    h2
                        h2(data-i18n="home.description") Ośrodek szkolenia zwierząt 
                    hr
                    h2
                        strong(data-i18n="main.title").section-heading.wow.slideInLeft wiernypies.pl
                    hr
            .row
                .col-lg-10.col-lg-offset-1
                    img.img-responsive.pull-left(src='img/aboutBorder.png', alt='')
                    p(data-i18n="[html]about.description.main").text-left Ośrodek został stworzony z pasji i miłości do zwierząt. To właśnie tutaj możesz:
                        ul.text-left.promo
                            li(data-i18n="[html]about.description.training") indywidualnie lub grupowo, wspólnie z trenerem wyszkolić swojego psa
                            li(data-i18n="[html]about.description.behaviouralTraining") umówić się na konsultację behawioralną psa lub kota, jeśli sprawia problemy
                            li(data-i18n="[html]about.description.buyingADog") poradzić się w sprawie przyjęcia nowego zwierzęcia pod swój dach, a także otrzymać pomoc w doborze odpowiedniej rasy
                            li(data-i18n="[html]about.description.puppyTraining") przeprowadzić wspólnie z behawiorystą socjalizację malucha, by ten później nie wykazywał zachowań niepożądanych
                            li(data-i18n="[html]about.description.walks") zapisać się na wspólne spacery ze naszym ośrodkiem, podczas których masz możliwość rozmowy z behawiorystą na temat zachować swojego psa, wymienisz doświadczenia z innymi właścicielami zwierząt oraz nauczysz się psiej komunikacji
                            li(data-i18n="[html]about.description.accessories") zakupić akcesoria do pracy treningowej, terapeutycznej lub do zabawy, takie jak mata węchowa szarpaki, linki treningowe, smycze, obroże
                            li(data-i18n="[html]about.description.education") nabyć pomoce dydaktyczne do pracy ze zwierzętami, maty do integracji sensorycznej, kostki edukacyjne
                            li(data-i18n="[html]about.description.breeders") hodowcy mogą zamówić dla szczeniąt i kociąt wyprawki, maty do socjalizacji, zabawki
                    p(data-i18n="[html]about.corporate.main") W firmach i placówkach oświatowych prowadzimy:
                        ul.text-left.promo
                            li(data-i18n="[html]about.corporate.workshops") warsztaty
                            li(data-i18n="[html]about.corporate.trainings") treningi
                            li(data-i18n="[html]about.corporate.courses") szkolenia
                            li(data-i18n="[html]about.corporate.lectures") wykłady
                            li(data-i18n="[html]about.corporate.lessons") lekcje edukacyjne dla dzieci i młodzieży
            .row
                .col-lg-10.col-lg-offset-1
                    img.img-responsive.center-block(src='img/wiernypiesCropped.png', style='max-height: 350px;' alt='')
                .col-lg-10.col-lg-offset-1 
                    p(data-i18n="[html]about.ewa") Szkolenia oraz terapie behawioralne prowadzi <strong>Ewa Jabłońska</strong> – założyciel ośrodka, behawiorysta COAPE, instruktor szkolenia psów, biegły sądowy w dziedzinie kynologii, twórca audycji radiowej <i>Francuski Piesek</i> realizowanej w lokalnym radio Bon Ton w Chełmie.
    //- SERVICES ==========================
    section#services.fullscreen(data-section-name='services', data-i18n="[data-section-translation]main.services")
        .container-fluid
            .row
                .col-lg-12.text-center
                    h2.section-heading(data-i18n="main.services") Oferta
                    hr
            .row.servicesList
                .col-xs-12.col-sm-6.col-lg-5.col-lg-offset-1(data-wow-delay="0.2s").wow.fadeInLeft
                    .servicesPanel
                        h3(data-i18n="[html]services.individual") Szkolenia indywidualne
                        hr
                        p(data-i18n="[html]services.individualDescription") krótki opis
                .col-xs-12.col-sm-6.col-lg-5(data-wow-delay="0.4s").wow.fadeInRight
                    .servicesPanel
                        h3(data-i18n="[html]services.group") Szkolenia grupowe
                        hr
                        p(data-i18n="[html]services.groupDescription") krótki opis
                .col-xs-12.col-sm-6.col-lg-5.col-lg-offset-1(data-wow-delay="0.6s").wow.fadeInLeft
                    .servicesPanel
                        h3(data-i18n="[html]services.aaaa") Terapia behawioralna zwierząt
                        hr
                        p(data-i18n="[html]services.aaaaaa") krótki opis
                .col-xs-12.col-sm-6.col-lg-5(data-wow-delay="0.8s").wow.fadeInRight
                    .servicesPanel
                        h3(data-i18n="[html]services.aaa") Psie przedszkole
                        hr
                        p(data-i18n="[html]services.aaaaaaaa") krótki opis
                .col-xs-12.col-sm-6.col-lg-5.col-lg-offset-1(data-wow-delay="1.0s").wow.fadeInLeft
                    .servicesPanel
                        h3(data-i18n="[html]services.aaaa") Prowadzenie wykładów, seminariów, warsztatów
                        hr
                        p(data-i18n="[html]services.aaaaaa") krótki opis
                .col-xs-12.col-sm-6.col-lg-5(data-wow-delay="1.2s").wow.fadeInRight
                    .servicesPanel
                        h3(data-i18n="[html]services.aaa") Zajęcia edukacyjne w placówkach oświatowych
                        hr
                        p(data-i18n="[html]services.aaaaaaaa") krótki opis
                .col-xs-12.col-sm-6.col-lg-5.col-lg-offset-1(data-wow-delay="1.4s").wow.fadeInLeft
                    .servicesPanel
                        h3(data-i18n="[html]services.aaaa") pet sitting - opieka nad zwierzętami w domu klienta
                        hr
                        p(data-i18n="[html]services.aaaaaa") krótki opis
                .col-xs-12.col-sm-6.col-lg-5(data-wow-delay="1.6s").wow.fadeInRight
                    .servicesPanel
                        h3(data-i18n="[html]services.aaa") sprzedaż akcesoriów dla zwierząt
                        hr
                        p(data-i18n="[html]services.aaaaaaaa") krótki opis
        //-
            .row
                .col-xs-12
                    .service-box
                        img(height="300" width="300" src="img/products/mata_torba.jpg" alt="mata węchowa").sr-icons
                        h3 Mata węchowa
                        p.text-muted 
                            | Matę węchową o wymiarach 40 cm na 60 cm tworzy 231 pasków z polaru, które przyszyte są do podstawy. Ta z kolei przypinana jest na zatrzaski do mocnej, antypoślizgowej wykładziny, dzięki czemu mata się nie ślizga po podłodze podczas węszenia przez psa). 
                            | Górę maty po odpięciu można prać w pralce, co znacznie ułatwia utrzymanie jej w czystości (zwłaszcza jeśli używa się tego gadżetu w psich hotelach, pensjonatach, podczas zajęć dogoterapii lub w zajęciach edukacyjnych w placówkach oświatowych). 

            .row
                .col-sm-6.text-center
                    .service-box
                        i.fa.fa-4x.fa-paper-plane.text-primary.sr-icons
                        h3 Zabawka #1
                        p.text-muted Zabawka #1
                .col-sm-6.text-center
                    .service-box
                        i.fa.fa-4x.fa-newspaper-o.text-primary.sr-icons
                        h3 Zabawka #2
                        p.text-muted Zabawka #2
            .row.no-gutter.popup-gallery
                - var i = 0
                while i < 6
                    - i++
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='img/gallery/fullsize/' + i + '.jpg')
                            img.img-responsive(src='img/gallery/thumbnails/' + i + '.jpg', alt='')
                            .portfolio-box-caption
                                .portfolio-box-caption-content
    //- THERAPY ==========================
    section#therapy.fullscreen(data-section-name='therapy', data-i18n="[data-section-translation]main.therapy")
        .container-fluid
            .row
                .col-lg-12.text-center
                    h2.section-heading(data-i18n="therapy.therapyFull") Terapia behawioralna
                    hr
    //- PET SITTING ==========================
    section#petsitting.fullscreen(data-section-name='petsitting', data-i18n="[data-section-translation]main.petsitting")
        .container-fluid
            .row
                .col-lg-12.text-center
                    h2.section-heading(data-i18n="main.petsitting") Pet sitting
                    hr
    //- TRAINING ===========================
        section#training.fullscreen(data-section-name='training', data-i18n="[data-section-translation]main.training")
            .container-fluid
                .row
                    .col-lg-12.text-center
                        h2(data-i18n="training.behaviouralTherapy").section-heading Terapia behawioralna
                        hr.primary
                .row
                    .col-lg-12.text-center
                        h2.section-heading Jeżeli twój pies:
                .row
                    .col-lg-3.col-md-6
                        .service-box
                            i.fa.fa-4x.fa-bullhorn.text-primary.sr-icons
                            h3 nadmiernie wokalizuje (szczekanie, wycie, skomlenie)
                    .col-lg-3.col-md-6
                        .service-box
                            i.fa.fa-4x.fa-flash.text-primary.sr-icons
                            //- fix later
                            h3 prezentuje zachowania agresywne <br><br>
                    .col-lg-3.col-md-6
                        .service-box
                            i.fa.fa-4x.fa-chain-broken.text-primary.sr-icons
                            h3 ma problemy z separacją
                    .col-lg-3.col-md-6
                        .service-box
                            i.fa.fa-4x.fa-tint.text-primary.sr-icons
                            h3 załatwia swoje potrzeby fizjologiczne w domu
                            //- p.text-muted fa-tint
                .row
                    .col-lg-12.text-center
                        hr.primary
                        a.btn.btn-default.btn-xl.sr-button Poznaj szczegóły i zapisz się!
                .row
                    .col-xs-12
                        .service-box
                            img(height="300" width="300" src="img/products/mata_torba.jpg" alt="mata węchowa").sr-icons
                            h3 Mata węchowa
                            p.text-muted 
                                | Matę węchową o wymiarach 40 cm na 60 cm tworzy 231 pasków z polaru, które przyszyte są do podstawy. Ta z kolei przypinana jest na zatrzaski do mocnej, antypoślizgowej wykładziny, dzięki czemu mata się nie ślizga po podłodze podczas węszenia przez psa). 
                                | Górę maty po odpięciu można prać w pralce, co znacznie ułatwia utrzymanie jej w czystości (zwłaszcza jeśli używa się tego gadżetu w psich hotelach, pensjonatach, podczas zajęć dogoterapii lub w zajęciach edukacyjnych w placówkach oświatowych). 

                .row
                    .col-sm-6.text-center
                        .service-box
                            i.fa.fa-4x.fa-paper-plane.text-primary.sr-icons
                            h3 Zabawka #1
                            p.text-muted Zabawka #1
                    .col-sm-6.text-center
                        .service-box
                            i.fa.fa-4x.fa-newspaper-o.text-primary.sr-icons
                            h3 Zabawka #2
                            p.text-muted Zabawka #2
    //- CONTACT ===========================
    section#contact.fullscreen(data-section-name='contact',data-i18n="[data-section-translation]main.contact")
        .container-fluid
            .row
                .col-lg-8.col-lg-offset-2.text-center
                    h2.section-heading(data-i18n="contact.getInTouch") Skontaktuj się z nami
                    hr.primary
                    p
                .col-lg-4.col-lg-offset-2
                    i.fa.fa-phone.fa-3x.sr-contact
                    p(data-i18n="contact.phoneNumber").text-center 501 763 677
                .col-lg-4
                    i.fa.fa-envelope-o.fa-3x.sr-contact
                    p.text-center
                        a(href='mailto:kontakt@wiernypies.pl' data-i18n="contact.email") kontakt@wiernypies.pl
            .row
                .col-xs-3.col-sm-1.col-sm-offset-4
                    a(href='#')
                        i.fa.fa-facebook.fa-2x.sr-contact
                .col-xs-3.col-sm-1
                    a(href='#')
                        i.fa.fa-youtube.fa-2x.sr-contact
                .col-xs-3.col-sm-1
                    a(href='#')
                        i.fa.fa-google-plus.fa-2x.sr-contact
                .col-xs-3.col-sm-1
                    a(href='#')
                        i.fa.fa-whatsapp.fa-2x.sr-contact
    //- FOOTER ===========================
    section#footer.bg-dark(data-section-name='footer', data-i18n="[data-section-translation]main.footer")
        .container-fluid
            .row
                .col-xs-11.col-xs-offset-1.col-sm-6
                    p Hadron Design Piotr Piech <br> adres <br> NIP REGON <br> 


    .loader
    //- inject:js
    script(src="js/lib.min.js")
    script(src="js/faithful.min.js")
    //- endinject