doctype html
head
    title(data-i18n="main.title") Arbor sp. z o.o.
    //- meta
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="theme-color" content="#003200")

    //- favicon
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">

    //- inject:css
    link(rel="stylesheet", href="css/lib.min.css")
    link(rel="stylesheet", href="css/betula.min.css")
    //- endinject
    //if lt IE 9
        <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'></script>
        <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>
body#page-top
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    i.fa.fa-bars
                a.page-scroll(href='#home')
                    img#myLogo.svg.navbar-brand.page-scroll(src='img/wiernypiesLogo.svg', alt=t("Title"))
                a.navbar-brand.page-scroll(href='#home') #{t("Title")}
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    //- class="icon fa-home"
                    li
                        a.page-scroll.fa.fa-2x.fa-home(href='#home')
                    li
                        a.page-scroll(href='#about') #{t("About")}
                    li
                        a.page-scroll(href='#training') #{t("Training")}
                    li
                        a.page-scroll(href='#products') #{t("Products")}
                    li
                        a.page-scroll(href='#gallery') #{t("Gallery")}
                    li
                        a.page-scroll(href='#contact') #{t("Contact")}
                    li
                        a.dropdown-toggle(data-toggle="dropdown" href="#") #{t("Language")}
                            .helper
                                img(src='img/flags/flag_' + i18n.language + '.svg', alt=i18n.language)
                            ul.dropdown-menu.list-inline.navbar-default
                                li
                                    a(href="")
                                        form(action="/changeLanguage" method="post")
                                            input.languageflag(type="image" value="pl" name="language" src="img/flags/flag_pl.svg" alt="Polski")
                                            button.languageButton(type="submit" value="pl" name="language") Polski
                                li
                                    a(href="")
                                        form(action="/changeLanguage" method="post")
                                            input.languageflag(type="image" value="en" name="language" src="img/flags/flag_en.svg" alt="English")
                                            button.languageButton(type="submit" value="en" name="language") English
                                li
                                    a(href="")
                                        form(action="/changeLanguage" method="post")
                                            input.languageflag(type="image" value="ru" name="language" src="img/flags/flag_ru.svg" alt="Русский")
                                            button.languageButton(type="submit" value="ru" name="language") Русский
                                //- each val in nav
                                //-     li
                                //-         a.page-scroll(href=val.link) #{val.text}                          
            // /.navbar-collapse
        // /.container-fluid
<!-- HOME-->
    section#home(data-section-name='home', data-section-translation=t("Home"))
        #headerCarousel.carousel.slide(data-ride='carousel' data-interval='4000')
            .carousel-inner(role='listbox')
                .item.active
                .item
                .item
        .header-content
            .header-content-inner
                h1 #{t("Main description")}
                hr
                h2 #{t("Title")}
<!-- ABOUT-->
    section#about.bg-primary.fullscreen(data-section-name='about', data-section-translation=t("About"))
        .container
            .row
                .col-sm-10.col-sm-offset-1.text-center
                    h2.section-heading.wow.slideInLeft #{t("About")}
                    hr
                    p 
                        |Nazywam się 
                        span Ewa Jabłońska
                        |. Jestem behawiorystą COAPE oraz certyfikowanym instruktorem szkolenia psów. Głównie prowadzę szkolenia indywidualne oraz terapie w zaburzeniach zachowania u psów i kotów.
        .container
            .row
                .col-md-2.col-sm-offset-1
                    img.img-responsive.center-block(src='img/aboutBorder.png', alt='')
                .col-md-8
                    p Na co dzień w mojej praktyce związanej z terapią i szkoleniami, brakuje mi odpowiednich gadżetów, które pomogłyby mi wzmocnić, proponowane przeze mnie terapie behawioralne zwierząt. Stąd też biorą się pomysły na autorskie pomoce szkoleniowe i terapeutyczne dla moich podopiecznych. Akcesoria które proponuję, są skrupulatnie i gruntownie przeze mnie przemyślane. Ich prototypy najpierw testuję z moimi zwierzętami (sama posiadam 5 psów i 2 koty różnych ras i „bezras” ;-) ), a następnie używam ich podczas prowadzonych przeze mnie zajęć . Zdobyte  doświadczenie pozwala mi udoskonalać je pod względem przydatności i ich jakości. Nie lubię w tym względzie żadnych kompromisów, więc współpracuję z profesjonalną, dobrze wyposażoną, pracownią krawiecką, co przekłada się na pewność, że proponowane zabawki i pomoce są naprawdę dobrze wykonane.
<!-- TRAINING-->
    section#training.fullscreen(data-section-name='training', data-section-translation=t("Training"))
        .container
            .row
                .col-lg-12.text-center
                    h2.section-heading #{t("BehaviouralTherapy")}
                    hr.primary
            .row
                .col-lg-12.text-center
                    h2.section-heading Jeżeli twój pies:
            .row
                .col-lg-3.col-md-6
                    .service-box
                        i.fa.fa-4x.fa-bullhorn.text-primary.sr-icons
                        h3 nadmiernie wokalizuje (szczekanie, wycie, skomlenie)
                .col-lg-3.col-md-6
                    .service-box
                        i.fa.fa-4x.fa-flash.text-primary.sr-icons
                        //- fix later
                        h3 prezentuje zachowania agresywne </br></br>           
                .col-lg-3.col-md-6
                    .service-box
                        i.fa.fa-4x.fa-chain-broken.text-primary.sr-icons
                        h3 ma problemy z separacją
                .col-lg-3.col-md-6
                    .service-box
                        i.fa.fa-4x.fa-tint.text-primary.sr-icons
                        h3 załatwia swoje potrzeby fizjologiczne w domu
                        //- p.text-muted fa-tint
            .row
                .col-lg-12.text-center
                    hr.primary
                    a.btn.btn-default.btn-xl.sr-button Poznaj szczegóły i zapisz się!
<!-- PRODUCTS-->
    section#products.fullscreen(data-section-name='products', data-section-translation=t("Products"))
        .container
            .row
                .col-lg-12.text-center
                    h2.section-heading #{t("Products")}
                    hr.primary
        .container
            .row
                .col-sm-6.col-lg-3.text-center
                    .service-box
                        i.fa.fa-4x.fa-diamond.text-primary.sr-icons
                        h3 fa-diamond
                        p.text-muted fa-diamond
                .col-sm-6.col-lg-3.text-center
                    .service-box
                        i.fa.fa-4x.fa-paper-plane.text-primary.sr-icons
                        h3 fa-paper-plane
                        p.text-muted fa-paper-plane
                .col-sm-6.col-lg-3.text-center
                    .service-box
                        i.fa.fa-4x.fa-newspaper-o.text-primary.sr-icons
                        h3 fa-newspaper-o
                        p.text-muted fa-newspaper-o
                .col-sm-6.col-lg-3.text-center
                    .service-box
                        i.fa.fa-4x.fa-heart.text-primary.sr-icons
                        h3 fa-heart
                        p.text-muted fa-heart
            .row
                .col-lg-12.text-center
                    hr.primary
                    a.btn.btn-primary.btn-xl.sr-button Odwiedź nasz sklep!
<!-- GALLERY-->
    section#gallery.fullscreen(data-section-name='gallery', data-section-translation=t("Gallery"))
        .container-fluid
            .row.no-gutter.popup-gallery
                - var i = 0
                while i < 6
                    - i++
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='img/gallery/fullsize/' + i + '.jpg')
                            img.img-responsive(src='img/gallery/thumbnails/' + i + '.jpg', alt='')
                            .portfolio-box-caption
                                .portfolio-box-caption-content
                                    //- .project-category.text-faded Category
                                    //- .project-name Project Name
<!-- CONTACT-->
    section#contact.fullscreen(data-section-name='contact', data-section-translation=t("Contact"))
        .container
            .row
                .col-lg-8.col-lg-offset-2.text-center
                    h2.section-heading #{t("getInTouch")}
                    hr.primary
                    p
                .col-lg-4.col-lg-offset-2.text-center
                    i.fa.fa-phone.fa-3x.sr-contact
                    p #{t("phoneNumber")}
                .col-lg-4.text-center
                    i.fa.fa-envelope-o.fa-3x.sr-contact
                    p
                        a(href='mailto:kontakt@wiernypies.pl') kontakt@wiernypies.pl
            .row
                .col-xs-3.col-sm-1.col-sm-offset-4
                    a(href='#')
                        i.fa.fa-facebook.fa-2x.sr-contact
                .col-xs-3.col-sm-1
                    a(href='#')
                        i.fa.fa-youtube.fa-2x.sr-contact
                .col-xs-3.col-sm-1
                    a(href='#')
                        i.fa.fa-google-plus.fa-2x.sr-contact
                .col-xs-3.col-sm-1
                    a(href='#')
                        i.fa.fa-whatsapp.fa-2x.sr-contact
<!-- FOOTER-->
    section#footer.bg-dark(data-section-name='footer', data-section-translation=t("Footer"))
        .container
            .row
                .col-lg-8.col-lg-offset-2.text-center
                    h2.section-heading #{t("Footer")}

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="/lib/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/lib/jquery.easing/js/jquery.easing.min.js"></script>
    <script src="/lib/Scrollify/jquery.scrollify.min.js"></script>
    <script src="/lib/wow/dist/wow.min.js"></script>
    <!-- endbower -->

    //- inject:js
    script(src="/js/faithfulClient.min.js")
    //- endinject

    // Translations for gallery plugin
    script(type="text/javascript").
        var MP = !{JSON.stringify(MP)};